@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'styles';
@import 'variables';

body {
    background-color: $britishGreen;
    @include default-font(35px);
    text-align: center;
    font-family: 'Bilbo', cursive;

}

header {
  background-color: $darkSienna;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

#messages {
  margin-top: 200px;
}

.messageCard {
  margin: 20px 20px;
}
.row {
  margin-left: 20px;
}
