@import '../../styles/styles';

.messageCard {
  border: 2px solid  $sapphireBlue;
  border-radius: 25px 25px 5px 25px;
  background-color: $silverChalice;
  box-shadow: $sapphireBlue 2px 3px 3px;
}

#messages {
  flex-direction: column-reverse;
  display: flex;
}

.messageTop {
  justify-content: space-between;
  color: $britishGreen;
  align-items: center;
  .user{
    width: 40%;
    font-weight: bold;
  }
  .timestamp{
    width: 40%;
    font-size: 28px;
  }
}
.messageBottom {
  justify-content: center;
  .message {
    font-size: 35px;
    width: 80%;
    padding: 5px;
  }
}
.delete {
  width: 10%;
  justify-content: right;
  color: $redSalsa;
}
