.messageCard {
  border: 1px solid  darkgreen;
}


.messageTop {
  display: flex;
  justify-content: space-between;
  .user{
    width: 40%;
  }
  .timestamp{
    width: 40%;
  }
}
.messageBottom {
  display: flex;
  justify-content: center;
  .message {
    border: 2px solid black;
    width: 80%;
  }
}
.delete {
  width: 10%;
  justify-content: right;
}
