#messageText {
  height: 100%;
  border-radius: 5px;
  font-size: 25px;
}
#logo {
  margin-top: 16px;
  margin-right: 10px;
}
#clearButton {
  margin-top: 16px !important;
  margin-bottom: 0 !important;
  font-size: 25px;
}
#navcontainer {
  text-align: center;
}
#logodiv {
  width: 137px;
 
}
